* {font-family: Helvetica Neue, Arial, sans-serif; }

body { background: url("wallpaper5.jpg");}

h1, table { text-align: center; color: #fff;}

table {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem;}

th, td { padding: 0.7rem; font-size: 1.4rem; }

tr {background: hsl(50, 50%, 80%); }

tr, td { transition: .4s ease-in; } 

tr:first-child {background: hsla(12, 100%, 40%, 0.5); }

tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

td:empty {background: hsla(50, 25%, 60%, 0.7); }

tr:hover:not(#firstrow), tr:hover td:empty {background: #008000; pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.02); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}

input[type = "submit"]{
	font-size: 18px;
	background: hsla(50, 50%, 80%, 0.7); 
}

input[type = "text"]{
	font-size: 18px;
	background: hsla(50, 50%, 80%, 0.7); 
}

.button1{
  background: hsla(12, 100%, 40%, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  position: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 15x;
  border: 2px solid hsla(12, 100%, 40%, 0.5)
}

.button2{
  background: hsla(12, 100%, 40%, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  position: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 15px;
  border: 2px solid hsla(12, 100%, 40%, 0.5)
}

.button3{
  background: hsla(12, 100%, 40%, 0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  position: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 15x;
  border: 2px solid hsla(12, 100%, 40%, 0.5)
}

.button4{
    background: hsla(12, 100%, 40%, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  font-size: 15px;
  border: 2px solid hsla(12, 100%, 40%, 0.5)
}
